
h1 > div:nth-child(2) {
    margin-left: 3vw;
}

header {
    background-color: #1e7a8e;
    box-shadow: 1px 1px 30px 0px black;
    color: #ec9a29;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;;
    font-size: .9em;
    text-shadow: 1px 1px black;
    position: relative;
}

#brand {
    display: flex;
    flex-direction: row;
    padding: 2vw;
}

#menu-button {
    position: absolute;
    height: 40px;
    padding: 3px 5px;
    width: 50px;
    right: 2vw;
}

#menu-button hr{
    margin: 6px;
    border: 1px solid #ec9a29;
    box-shadow: 1px 1px black;
}

#menu-x {
    position: absolute;
    height: 40px;
    width: 50px;
    right: 2vw;
    padding-top: 5px;
    margin-top: -2.5vw;
    font-size: 3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    border-radius: 50%;
    height: 7em;
    margin-right: 2vw;
    width: 7em;
}

#motto {
    font-size: 1em;
    font-style: italic;
    padding: 10px 15px 20px;
    text-align: center;
}

@media(min-width: 1300px) {
    #logo {
        margin-left: 15vw;
    }
}